    {% load static %}

 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Ayodeji Ayankola- My portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link  href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="container pt-3">
    <div class="row pt-3">
        <div class="col-md-3 ">
            <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static '/images/ayodeji.jpg' %}"  />
                <h3>Hi, I am Ayodeji</h3>
                <p> I am a software engineer</p>

            </div>

        </div>
      <div class="col-md-9">
            <div class="card card-body h-100 border-info ">
                <h2>A little bit about me...</h2>
                <hr>
                <p>I am a Software Engineer with experience in the design and development
                    of innovative static and dynamic websites and solutions that interact with database.
                    Additional experience in the use of content management systems to allow clients to
                    update content on their websites.</p>
                 <p>  Organizing and planning come as second nature to me and
                     I take great pride in the detail of tasks.
                     An excellent team player, yet capable of independent work.
                </p>
                    <div class="d-flex" >
                 <img class="social-pic" src="{% static '/images/linkedin.png' %}" />
                 <img class="social-pic" src="{% static '/images/facebook.png' %}" />
                 <img class="social-pic" src="{% static '/images/twitter.png' %}" />
                 <img class="social-pic" src="{% static '/images/youtube.jpg' %}" />
</div>


            </div>

        </div>
    </div>

         <div class="row pt-3">
        <div class="col-md-6 ">
            <div class="card card-body h-100">
                <h2>My Experience as a Developer...</h2>
                <hr>
                <p>Software engineer at Almond Careers</p>
                 <p>  Organizing and planning come as second nature to me and
                     I take great pride in the detail of tasks.
                     An excellent team player, yet capable of independent work.
                </p>

            </div>

        </div>
      <div class="col-md-6">
            <div class="card card-body">
                <h2>What I know</h2>
                <hr>

                <p>HTML, CSS, Javascript, PHP, Python, MYSQL, Bootstrap, Laravel, Django, WordPress</p>

                <p>I am conversant with text editors and IDE such as Sublime Text Editor, Visual Studio Editor, Atom, PyCharm, experienced with the use of Git</p>





</p>

            </div>

        </div>
    </div>
     <div class="row pt-3">
        <div class="col-md-6">
            <div class="card card-body h-100">
                <h2>My Short Term Goals</h2>
                <hr>
                <p>I am a Software Engineer with experience in the design and development
                    of innovative static and dynamic websites and solutions that interact with database.
                    Additional experience in the use of content management systems to allow clients to
                    update content on their websites.</p>
                 <p>  Organizing and planning come as second nature to me and
                     I take great pride in the detail of tasks.
                     An excellent team player, yet capable of independent work.
                </p>
            </div>

            </div>


      <div class="col-md-6">
            <div class="card card-body h-100">
                <h2>My Contact Details</h2>
                <hr>
                <p>I am a Software Engineer with experience in the design and development
                    of innovative static and dynamic websites and solutions that interact with database.
                    Additional experience in the use of content management systems to allow clients to
                    update content on their websites.</p>
                 <p>  Organizing and planning come as second nature to me and
                     I take great pride in the detail of tasks.
                     An excellent team player, yet capable of independent work.
                </p>
            </div>

            </div>

        </div>
    </div>
    </div>
   </div>
</body>
</html>